 /*Root container styling*/
.borderPane {
    -fx-background-color: #69696d; /* Light neutral background */
}

 .adminBackground {
     -fx-background-color: #69696d; /* Light neutral background */
 }

/* MenuBar container styling ----------------------------------------*/
#menu_bar {
    -fx-background-color: #2a4c1e; /* Main green background */
    -fx-padding: 5px; /* Add some padding for a cleaner look */
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 14px;
}


 #table-view {
     -fx-background-color: #9f9fa5;
     -fx-border-color: #ddd;
     -fx-border-radius: 8;
     -fx-padding: 10px;
 }
